:root {
  --color-primary: #5D6532;
  --color-primary-hover: #97a549;
  --color-secondary: #3D4221;
  --color-accent: #D4E673;
  --color-background: #b9c5a4;

  /* Status */
  --color-success: #AFBD5E;
  --color-warning: #e8a44b;
  --color-error: #d13939;
}

#root {
  width: 100% !important;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
